.mainDiv {

}

.waterdiv {
  background-color: #2B2B2B;
  padding-top: 50px;
  padding-bottom: 50px;
}

.watermark {
  color: white;
  opacity: .6;
  align-content: center;
}

p {
  font-family: helvetica;
}
