.contact-heading {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 10px;
  font-size: 30px;
  font-family: Helvetica;

}


.about-heading2 {
  padding-top: 20px;
  text-align: left;
  color:white;
  font-family: Helvetica;
  font-size: 35px;
  margin-bottom: 0px;

}

.about-heading3 { 
  padding-top:20px;
  margin-bottom: 0px;
  text-align: left;
  color: white;
  font-family: Helvetica;
  font-size: 35px;

}

.about-heading4 { 
  padding-top: 20px;
  text-align: left;
  color: white;
  font-family: Helvetica;
  font-size: 35px;
  margin-bottom: 5px;
}



.about-paragraph1 {
  margin-top: 0px;
  text-align: left;
  color: white;
  font-family: Helvetica;
  font-size: 18px;

}


.about-paragraph2 {
  margin-top: 0px;

  text-align: left;
  color: white;
  font-family:Helvetica;
  font-size: 18px;

}

.about-anchor1 {
  margin-top: 0px;

display:inline-block;
margin-right: 30px;

}

.about-anchor2 {
display:inline-block;
margin-right:30px;
}

.about-anchor3 {
display:inline-block;
margin-right: 40px;
padding-bottom: 12px;
}
.about-anchor4 {
  padding-top: 19px;
  padding-left: 30px;
}
.contact-btn {
  display: inline-block;
  color:white !important;
  margin-bottom: 30px !important;
  border-color:#de412e !important;
  border-style: solid !important;
  border-width: 3px !important;
  font-family: Helvetica !important;
  width: 230px;
  height: 60px;
  text-transform: capitalize !important;
  font-size: 20px !important;
  margin-top: 30px !important;
}

.Mount{
	width: 100%;
  z-index: -1;
  position: absolute;
}

.Everything {
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  background:black;
  background-size: cover;
  background-image:
    linear-gradient(
      151.31deg, 
      #2B2B2B 19.76%, 
      rgba(43, 43, 43, 0.5) 136.31%),
      url("../images/mountains.png"
    );
}


.contact-bars {
  padding-right: 20px;
}

