.sidebar{
  position: fixed;
  width: 20rem;
  height: 100vh;
  background-Color: #2B2B2B;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 5rem 0;
  color: white;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}

.sidebar-middle{
  margin-left: 25%;
  /* width: 20rem; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5rem 0;
  color: white;
  justify-content: space-between;
}

a {
  margin-top: 15%;
  color: white;
  text-decoration: none;
}
.sidebar-top{
  margin-bottom: -50%;
  display:flex;
  justify-content: center;
}

.sidebar-clearfix {
  height: 100vh;
  width: 20rem;
  flex-shrink: 0;
}
