.sidebar {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  width: 20rem;
  height: 100vh;
  background-color:#2b2b2b;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  padding: 2.5rem;
  color: white;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}
.sidebar a {
  text-decoration: none;
}
.sidebar-clearfix {
  height: 100vh;
  width: 20rem;
  flex-shrink: 0;
}

.sidebar-top {
  display:flex;
  justify-content: center;
}

.sidebar-middle {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar-middle a {
  margin-top: 1.5rem;
  color: white;
  /* text-decoration: none; */
}
.sidebar-middle p {
  font-size: 14px;
  text-align: right;


}
.sidebar-middle h1 {
  font-size: 36px;
  font-weight: bold;

}
.sidebar-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.navbar-break{
  border-left: 2px solid white;
  margin: 0 1rem;
  height: 1.5rem;

}

html{
  scroll-behavior: smooth;
}
